.Footer{
    //@include add-margin-top;
    background-color: $primary-dark-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-top: 15px;
    color: white;
    
}

@media (max-width: 500px) {
    .Footer{
        text-align: center;
    }
}