.TwoCols{
    @include display-flex-j-center;
    margin-top: 13px;
    align-items: center;
    //gap: if you want to add a gap
    //width: 60%;
    //margin: auto;

    & .colContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        
        /*Controls both cols*/
        & .col{
            animation: slideAndFadeBottom 1s ease-in-out;
            & button{
                @include CreateBlueButton;
                margin: auto;
                width: 100%;
                font-size: 20px;
                @include Gotham-Font;
                transition-duration: 0.5s;
            }
            width: 250px;
            //border: 1px solid red;
        }
    
        /*Controls col 1*/
        & .col1:hover{
            //width: 250px;
            & button{
                background-color: $tertiary-dark-accent;
            }
        }
    
        /*Controls col 2*/
        & .col2:hover{
            & button{
                background-color: $primary-dark-accent;
            }
        }
    
    }
}


@media (max-width: 768px){
    .TwoCols{
        @include add-margin-top;
        @include display-flex-a-center;
        flex-direction: column;
        justify-content: center;

        & .col{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    
        & .col2{
            & .Text{
                align-self: center;
            }
        }

        & .VerticalLine{
            display: none;
        }
    }
}