@keyframes slideAndFadeLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes slideAndFadeRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideAndFadeBottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideAndFadeTop {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightToLeft{
  0%{
    transform: translateX(-250px);
  }
  100%{
    transform: translateX(250px);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  50%{
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateUnderline {
  0%{
      transform: scaleX(0);
  }
  100%{
      transform: scaleX(1);
  }
}